/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /* common classes start */
    .c_padding{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .heading_2 {
        font-size: 20px;
        letter-spacing: 0;
    }
    .mb_90 {
        margin-bottom: 20px;
    }
    /* common classes end */
	 /* header start */
     .menu li a:hover {
        color: #f05c5c !important;
        background-color: transparent;
    }
    .md_user_item {
        width: 100%;
        border-radius: 3px;
    }
    .md_user_item li a {
        padding: 0 7px !important;
    }
    .search_item {
        min-width: 100%;
    }
    .md_search_input {
        width: 100%;
        margin-bottom: 8px;
    }
    .md-search .search_submit {
        height: 40px;
        width: 30%;
    }
    .logo{
        width: 85%;
    }
    /* header end */
    /* banner start */
    .banner {
        min-height: 522px;
    }
    .banner_content h1 {
        padding-top: 120px;
        margin-bottom: 250px;
        font-size: 39px;
    }
    /* banner end */
    /* about start */
    .about_content{
        text-align: center;
    }
    .about_content h2 {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .about_content h2::after {
        margin: 20px auto;
    }
    .btn_discovery {
        padding: 16px 29px;
        font-size: 19px;
    }
    .about_img img {
        margin-top: 0;
        margin-bottom: 40px;
    }
    .btn_discovery {
        margin-top: 20px;
        padding: 15px 29px;
        font-size: 17px;
        letter-spacing: 2px;

    }
    /* about end */
    /* services start */
    .services_single {
        margin-top: 20px;
    }
    .services_single h3 {
        font-size: 22px;
        margin-top: 10px;
        letter-spacing: 3px;
        line-height: 25px;
    }
    /* services end */
    /* features start */
    .f_single {
        margin-top: 30px;
    }
    .f_heading:after{
        content: "";
        background: url(../images/hr.png) no-repeat; 
        display: block;
        width: 250px;
        height: 5px;
        margin:30px auto 20px;
    }
    .f_header h6 {
        font-size: 14px;
    }
    .f_header i {
        top: 11px;
        right: 20px;
        font-size: 22px;
    }
    .price {
        width: 50px;
        height: 50px;
    }
    .price h4 {
        padding: 8px;
        font-size: 14px;
    }
    .f_text {
        height: 150px;
        padding: 25px 10px 20px;
    }
    .f_text h3 {
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .f_footer {
        padding: 8px 0;
    }
    .f_btn {
        margin-top: 50px;
        font-size: 30px;
    }
    /* features end */
    /* memory start */
    .twitter_link i {
        font-size: 50px;
    }
    .memory_img img:hover {
        transform: scale(1.1);
    }
    .btn_view {
        margin: 50px auto 0;
    }
    .memory_img {
        margin-top: 25px;
        text-align: center;
    }
    .memory_img img{
        width: auto;
    }
    .mt_col{
        margin-top: 0;
    }
    /* memory end */
     /* team start */
     .twitter {
        padding-top: 40px;
    }
    .mb_60 {
        margin-bottom: 40px;
        text-align: center;
    }
    .member_img img {
        margin-bottom: 20px;
    }
    .m_social_icon li a i {
        font-size: 20px;
        padding: 7px;
        width: 35px;
    }
    .col-text-center{
        text-align: center;
    }
    /* team end */
    /* work start */
    .acv_wrap {
        margin-top: 30px;
    }
    .acv_wrap h2 {
        font-size: 45px;
    }
    .acv_wrap img {
        margin-top: -25px;
    }
    /* work end */ 
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* common classes start */
    .c_padding{
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .heading_2 {
        font-size: 25px;
    }
    .mb_90 {
        margin-bottom: 30px;
    }
    /* common classes end */
	 /* header start */
     .menu li a:hover {
        color: #f05c5c !important;
        background-color: transparent;
    }
    .md_user_item {
        width: 87%;
        border-radius: 3px;
    }
    .logo{
        width: 85%;
    }
    /* header end */
    /* banner start */
    .banner {
        min-height: 640px;
    }
    .banner_content h1 {
        padding-top: 230px;
        margin-bottom: 315px;
        font-size: 39px;
    }
    /* banner end */
    /* about start */
    .about_content{
        text-align: center;
    }
    .about_content h2::after {
        margin: 20px auto;
    }
    .btn_discovery {
        padding: 16px 29px;
        font-size: 19px;
    }
    .about_img img {
        margin-top: 0;
        margin-bottom: 60px;
    }
    /* about end */
    /* services start */
    .services_single {
        margin-top: 30px;
    }
    .services_single h3 {
        margin-top: 10px;
        letter-spacing: 3px;
        line-height: 25px;
    }
    /* services end */
    /* features start */
    .f_single {
        margin-top: 40px;
    }
    .f_heading:after{
        content: "";
        background: url(../images/hr.png) no-repeat; 
        display: block;
        width: 250px;
        height: 5px;
        margin:30px auto 20px;
    }
    .f_header h6 {
        font-size: 14px;
    }
    .f_header i {
        top: 11px;
        right: 10px;
        font-size: 22px;
    }
    .price {
        width: 50px;
        height: 50px;
    }
    .price h4 {
        padding: 8px;
        font-size: 14px;
    }
    .f_text {
        height: 165px;
        padding: 30px 10px 20px;
    }
    .f_text h3 {
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .f_footer {
        padding: 8px 0;
    }
    .f_btn {
        margin-top: 50px;
        font-size: 30px;
    }
    /* features end */ 
    /* memory start */
    .memory_img img:hover {
        transform: scale(1.1);
    }
    .btn_view {
        margin: 70px auto 0;
    }
    /* memory end */
    /* team start */
    .twitter {
        padding-top: 50px;
    }
    .mb_60 {
        margin-bottom: 40px;
    }
    .m_social_icon li a i {
        font-size: 20px;
        padding: 7px;
        width: 35px;
    }
    /* team end */
    /* work start */
    .acv_wrap {
        margin-top: 40px;
    }
    .acv_wrap h2 {: 0;
        font-size: 50px;
    }
    /* work end */  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /* common classes start */
    .c_padding{
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .heading_2 {
        font-size: 25px;
    }
    .mb_90 {
        margin-bottom: 30px;
    }
    /* common classes end */
    /* header start */
    .menu li a:hover {
        color: #f05c5c !important;
        background-color: transparent;
    }
    .logo{
        width: 85%;
    }
    /* header end */
    /* banner start */
    .banner {
        min-height: 670px;
    }
    .banner_content h1 {
        padding-top: 230px;
        margin-bottom: 300px;
    }
    /* banner end */
    /* about start */
    .about_content{
        text-align: center;
    }
    .about_content h2::after {
        margin: 20px auto;
    }
    .btn_discovery {
        padding: 16px 29px;
        font-size: 19px;
    }
    .about_img img {
        margin-top: 0;
        margin-bottom: 60px;
    }
    /* about end */
    /* services start */
    .services_single {
        margin-top: 30px;
    }
    .services_single h3 {
        margin-top: 10px;
        letter-spacing: 3px;
        line-height: 25px;
    }
    /* services end */
    /* features start */
    .f_single {
        margin-top: 40px;
    }
    .f_heading:after{
        content: "";
        background: url(../images/hr.png) no-repeat; 
        display: block;
        width: 250px;
        height: 5px;
        margin:30px auto 20px;
    }
    .f_header h6 {
        font-size: 14px;
    }
    .f_header i {
        top: 11px;
        right: 10px;
        font-size: 22px;
    }
    .price {
        width: 50px;
        height: 50px;
    }
    .price h4 {
        padding: 8px;
        font-size: 14px;
    }
    .f_text {
        height: 180px;
        padding: 30px 10px 20px;
    }
    .f_text h3 {
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .f_footer {
        padding: 8px 0;
    }
    /* features end */ 
    /* memory start */
    .memory_img img:hover {
        transform: scale(1.1);
    }
    .btn_view {
        margin: 70px auto 0;
    }
    /* memory end */
    /* team start */
    .twitter {
        padding-top: 60px;
    }
    .mb_60 {
        margin-bottom: 40px;
    }
    .m_social_icon li a i {
        font-size: 20px;
        padding: 7px;
        width: 35px;
    }
    /* team end */
    /* work start */
     .acv_wrap {
        margin-top: 40px;
    }
    .acv_wrap h2 {: 0;
        font-size: 50px;
    }
    /* work end */ 
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* common classes start */
    .c_padding{
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .mb_90 {
        margin-bottom: 60px;
    }
    /* common classes end */
    /* header start */
    .user_item,.search_item{
        top: 144%;
    } 
    /* header end */
    
    /* banner start */
    .banner_content h1 {
        padding-top: 230px;
        margin-bottom: 315px;
    }
    /* banner end */
    /* about start */
    .btn_discovery {
        padding: 16px 29px;
        font-size: 19px;
    }
    .about_img img {
        margin-top: 73px;
    }
    /* about end */
    /* features start */
    .f_header h6 {
        font-size: 14px;
    }
    .f_header i {
        top: 11px;
        right: 10px;
        font-size: 22px;
    }
    .price {
        width: 50px;
        height: 50px;
    }
    .price h4 {
        padding: 8px;
        font-size: 14px;
    }
    .f_text {
        height: 180px;
        padding: 30px 10px 20px;
    }
    .f_text h3 {
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .f_footer {
        padding: 8px 0;
    }
    /* features end */
    /* memory start */
    .memory_img img:hover {
        transform: scale(1.2);
    }
    /* memory end */
    /* team start */
    .twitter {
        padding-top: 70px;
    }
    .m_social_icon li a i {
        font-size: 20px;
        padding: 7px;
        width: 35px;
    }
    .member_img img {
        margin-top: 25px;
    }
    .mb_60 {
        margin-bottom: 40px;
    }
    /* team end*/
    

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* common classes start */
    .c_padding{
        padding-top: 80px;
        padding-bottom: 70px;
    }
    .mb_90{
        margin-bottom: 70px;
    }
    /* common classes end */

    /* memory start */
    .btn_view {
        padding: 18px 31px;
    }
	/* memory end */
}
/*Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1599.98px) {
    /* common classes start */
    .c_padding{
        padding-top: 80px;
        padding-bottom: 70px;
    }
    /* common classes end */

	/* memory start */
    .btn_view {
        padding: 18px 31px;
    }
	/* memory end */
}
/*Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px) and (max-width: 1799.98px) {
    /* common classes start */
    .c_padding{
        padding-top: 90px;
        padding-bottom: 80px;
    }
    /* common classes end */
    /* banner start */
    .banner {
        min-height: 900px;
    }
    .banner_content h1 {
        padding-top: 400px;
    }
    /* banner end */
    /* memory start */
    .btn_view {
        padding: 18px 31px;
    }
	/* memory end */
}
/*Extra Extra large devices (large desktops, 1800px and up)*/
@media (min-width: 1800px) {
    /* common classes start */
    .c_padding{
        padding-top: 100px;
        padding-bottom: 90px;
    }
    /* common classes end */
    /* banner start */
    .banner {
        min-height: 900px;
    }
    .banner_content h1 {
        padding-top: 400px;
    }
    /* banner end */
    /* memory start */
    .btn_view {
        padding: 18px 31px;
    }
	/* memory end */
}